<%- model_class = Post.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1><br/><br/>

<% if user_signed_in? %>
	<p>
	<%= link_to t('.new', :default => t("helpers.links.new")),
			        new_post_path,
			        :class => 'btn btn-primary' %>
	</p>
<% end %>

<% @posts.each do |post| %>
	<div class="alert-info well">
	<a class="close" data-dismiss="alert">×</a>
	<strong><%= link_to post.title, post_path(post) %><%= " By "%> <%= User.find(post.user_id).name %></strong><br/>
	<%= post.content %><br/><br/>
	<%=l post.created_at %>
	</div>
<% end %><br/>

<% if user_signed_in? %>
	<p>
		<%= link_to t('.new', :default => t("helpers.links.new")),
			        new_post_path,
			        :class => 'btn btn-primary' %>
	</p>
<% end %>

<div class="fb-comments" data-href="http://epuka.herokuapp.com/" data-num-posts="2" data-width="470"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
