<%- model_class = @post.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<div class="well" >
	<strong><%= @post.title %><%= " By "%> <%= User.find(@post.user_id).name %></strong><br/><br/>
	<p>
		<%= @post.content %>
	</p>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-primary'  %>
	<% if user_signed_in? %>
		<%= link_to t('.edit', :default => t("helpers.links.edit")),
		            edit_post_path(@post), :class => 'btn' %>
		<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		            post_path(@post),
		            :method => 'delete',
		            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
		            :class => 'btn btn-danger' %>
	<% end %>
</div>
