<%= link_to "Epuka", root_path, :class => 'brand' %>
<div class="nav-collapse">
	<ul class="nav">
			<li>
		  <%= link_to('Diseases', diseases_path)  %>
		  </li>
			<li>
				<a href="http://www.ehealth.or.ke/facilities/latestfacilities.aspx"title="e-Health" target="_blank">e-Health</a>
			</li>
			<li>
				<a href="http://epuka.herokuapp.com/posts" title="Blogs" target="_blank">Blogs</a>
			</li>
			<li>
				<a data-toggle="modal" href="#myModal">Gallery</a>
			</li>
			<li>
				<a href="https://github.com/Banta/epuka"title="Contribute" target="_blank">Contribute</a>
			</li>
			<li>
		  <%= link_to('Contact Us', new_contact_path)  %>
		  </li>
	</ul>
	<%= form_tag root_path, :class=>"navbar-search pull-left", :method => :get do %>
					<%= text_field_tag :search, params[:search], :class=>"search-query", :placeholder=>"Search the location" %>
	<% end %>
	<ul class="nav pull-right">
		<% if user_signed_in? %>
		  <li>
		  	<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_user_session_path)  %>
		  </li>
		<% end %>
		<% if user_signed_in? %>
		  <li>
		  <%= link_to('Edit account', edit_user_registration_path) %>
		  </li>
		  <% if current_user.has_role? :admin %>
		    <li>
		    <%= link_to('Admin', users_path) %>
		    </li>
		  <% end %>
		<% else %>
		  <li>
		  	<%= link_to('Sign up', new_user_registration_path)  %>
		  </li>
		<% end %>
	</ul>
</div>
