<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Epuka" %></title>
    <meta name="description" content="The Epuka Disease Reporting System (EDRS) provides real-time secured access for state and local public health practitioners to report infectious diseases. EDRS allows local health departments with jurisdictional responsibility and relevant ODH program staff to have immediate access to infectious disease reports on a 24/7/365 basis for disease control and disease surveillance purposes. This assures cases of
    significant public health importance receive immediate attention and public health response.">
    <meta name="author" content="Bernard Banta, Ruby On Rails Developer">
    <meta name="keywords"
   content="epuka,benard banta,cliff anami,belinda atieno, disease monitoring, disease reporting, EDRS" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
		<%= render 'layouts/g_analytics' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
        	</a>
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
		<div id="wrap">
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span9">
              <%= render 'layouts/messages' %>
              <%= yield %>
							<%= yield :scripts %>
            </div>
						<%= render 'layouts/about' %>
          </div>
					<%#= render 'layouts/footer' %>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
		</div>
	<%= render 'layouts/chat' %>
	<%= render 'layouts/footer' %>
  </body>
</html>
